body {
    .principal {
        background:#6da42ecc;
        padding:30px;
    }

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    em strong {
        color:#000000cc;
    }

    .itens {
        font-style: italic;
    }

    h2 {
        text-align: center;
    }
    ul {
        display: inline-block;
        vertical-align: top;
        width: 20%;
        margin-right: 15%;
    }

    .imagemalimentação {
        width: 25%;
    }

    .imagemprevenirdoenças {
        width: 50%;
    }
    